.navbar-default .navbar-nav>li>a {
    color: #2196f3;
    margin: 10px;
}

signup.css:48 .nav {
    margin-left: 250px;
}

.nav ul {
    list-style: none;
    text-align: center;
}

.nav ul li {
    display: inline-block;
    margin-left: 10px;
    padding: 20px;
}

.navbar-default .navbar-nav>.active {
    text-align: center;
    border-bottom: 4px solid #2196f3;
    background-color: white;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: white;
}

.navbar-nav {
    float: left;
    margin: 0;
    margin-left: 250px;
}

.container {
    background-color: #e8f6fc;
    margin-top: 80px;
}

.content {
    background-color: #2196f3;
}

.dashed {
    border-style: dashed;
    color: skyblue;
}

.inner {
    position: relative;
    margin: 20px;
    background-color: lightblue;
    text-align: center;
}

.inner input{
    opacity: 0;
    position: absolute;
    height: 100%;
    width:100%;
    z-index: 1;
}
.inner label{
    padding: 40px;
    color: black;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.inner label span{
    color: #fff;
}

.inner button{
    position: relative;
    z-index: 2;
    display: none;
}

.inner button.active{
    display: inline-block;
}

a {
    color: white;
}

#file-save-form {
    margin: 40px 0 0;
}

.record-table {
    width: 100%;
    height: 500px;
    overflow: auto;
    border:solid 1px #ddd;
    margin-bottom: 50px
}

.row{
    background-color:#e8f6fc ;
}

thead {
    color: black;
    background-color: skyblue;
}

tbody {
    color: black;
    background-color: white;
}
