
body
{
    font-family: 'Poppins', sans-serif;
}


.navbar-header
{
    background-color: white;
}

navbar navbar-default
{
    background-color: white;
    padding-left: 50px;
}
.container-fluid
{
    background-color: white;
    padding-left: 50px;

}
.logo
{
     
     padding-top: 5px;
     padding-left: 2px;
     height: 40px;

}
.jumbotron p 
    {
        text-align: center;
        padding: 30px;
        font-size: 50px;
        color: white;
        line-height: 1.3;
        text-rendering: optimizeLegibility;
       
    }

    .navbar {
    position: relative;
    min-height: 0px;
    margin-bottom: 0px;
    border: 0px solid transparent;
    }


    .overlay
    {
       background-color: black;
       opacity: 0.5;
       position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
.jumbotron-content

{
    position: relative;
    z-index: 1;
}

   .btn
   {    width: 170px;
    padding: 10px;
    margin: 0 10px;
   } 


    .buttton_style
    {
        padding:10px;
    }
    
    .navbar-default .navbar-nav>li>a {
    color: green;
    padding: 5px;
    margin:0 0 5px;
    margin-top: 5px;
}
    .jumbotron 
    {
        background-image:url("/static/analysisreport/media/banner.jpg");
        position: relative;
        background-size: cover;
    }
    .navbar-right
    {

    }
    .container-fluid
    {
        background-color: #3396ff;
            height: 50px;
    }
    

    .font_l

    {
        padding: 30px;
        font-size: 50px;
    }

    .font_m
    {
       text-align: center;
        padding: 30px;
        font-size: 25px;
        color: white;
    }
    .p1
    {
    
    font-size: 15px;
    color: black;
    margin: 10px;
    width: 300px;
    }